.beat-selector {
  display: flex;
}

.beat-division {
  flex: 1;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.first-beat {
  flex: 1;
  color: white;
  background-color: black;
  border: none;
  outline: none;
}

.selected-beat {
  background-color: red;
}
