.selector-bar {
  display: flex;
}

.beat {
  flex: 1;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.beat.first {
  background-color: grey;
}

.beat.selected {
  background-color: red;
}

.beat:hover {
  background-color: yellow;
}
